
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  gap: 20px; 
  padding: 20px;
}

h1 {
  font-size: 64px;
  margin-top: 40px;
  justify-content: center;
  color: white;
}

input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 40px;
  height: 30px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

button {
  padding: 10px 30px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: orange;
  cursor: pointer;
}

button:hover {
  background-color: darkorange;
}

#recipes-container,
#details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left; 
}

#recipes-container h3,
#details-container h2 {
  margin-bottom: 10px;
  color: #007BFF;
}

#recipe-details {
  margin-top: 10px;
  text-align: center;
}
